@import "app-colors";
@import "app";

$app-menu-width: 250px;

.app-menu{
    margin: 0;
    background-color: $app-background-color;
    height: 100%;
    width: $app-menu-width;
    border: 1px solid $app-border-color;
    padding-top: $app-header-height;
}

.app-menu-item{
  padding: $app-padding;
}

.app-menu-item:hover{
  background-color: $app-secondary-color;
}