@import "app";

$app-menu-width: 250px;

.app-menu {
  margin: 0;
  background-color: $app-sidemenu-color;
  height: 100%;
  width: $app-menu-width;
  padding-top: $app-header-height;
  box-shadow: $app-shadow;
  position:absolute;
}

.app-menu-icon{
  padding-right: $app-font-size-small;
}

.app-menu-item {
  padding: $app-padding;
  border-bottom: 1px solid $app-border-color;
}

.app-menu-item:hover {
  background-color: $app-active-shadow-color;
}

.app-menu.open{
  transition: 1s ease-in-out;
}

.app-menu.closed{
  transition: 1s ease-in-out;
  transform: translate(-$app-menu-width, 0);
}

.app-menu-hamburger{
  transition: 0.4s ease-in-out;
  padding: $app-padding;
  border-radius: $app-header-height;
}

.app-menu-hamburger:hover{
  transition: 0.4s ease-in-out;
  background: $app-shadow-color;
}

.app-menu-hamburger:active{
  background: $app-active-shadow-color;
}