<app-view>
    <div class="login-box">
        <h4>
            Se connecter sur un compte existant
        </h4>
        <p>
            Login
            <input type="text" class="form-control"/>
        </p>
        <p>
            Mot de passe
            <input type="password" class="form-control"/>
        </p>
        <p>
            <button type="button" class="btn btn-sm btn-info">Se Connecter</button>
        </p>
        <p class="no-account-text">
            Je ne possède pas de compte
        </p>
    </div>
</app-view>